body {
    background-color: #c4cdde;
    padding: 30px 10px 10px 50px;
}

#dvdForm > div {
    margin-bottom: 20px;
    width: 50% !important;
}

#dvdForm > input {
    width: 50% !important;
}

h2 {
    color: white;
}